:root {
  --primary: #aaaaaa;
  --secondary: #e0e0e0;
  --background-primary: #dadada;
  --background-secondary: #c1c1c1;;
  --border-radius: 10px;
}

span {
  font-size: .75rem;
  padding-left: 30px;
}

img {
  height: 80px;
  margin-left: 60px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* aspect-ratio: 960/540; */
  /* background-image: url(./waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-color: var(--background-primary); */
}

.header {
  /* border: 1px solid red; */
  background-color: var(--background-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
}

h1 {
  margin-left: 30px;
}



main {
  display: flex;
  gap: 10px;

}

.createExpense, .add-category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-category {
  font-weight: 600;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

*:focus {
  outline: none;
}


input, select, textarea, button{
  border: 1px solid var(--secondary);
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  margin: 5px;
  padding-bottom: 5px;
  color: black;
  text-align: center;
  
  
}

.sidebar {
  width: 20%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 10px;
  /* border: 1px solid blue; */
  padding: 5px;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

.dropdown {
  width: 25%;
  /* margin: 100px auto; */
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown-btn {
  padding: 10px 20px;
  background: var(--background-secondary);
  box-shadow: 7px 10px 23px -7px rgba(0,0,0,0.65);
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding-left: 10px;
  border-radius: var(--border-radius);
  box-shadow: 7px 10px 23px -7px rgba(0,0,0,0.65);
  font-weight: bold;
  color: black;
  width: 95%;
  background: var(--background-secondary);
}

.dropdown .dropdown-btn .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  background: var(--background-secondary);
  border: 1 solid red;
  margin: 20px;
}

.dropdown .dropdown-btn .dropdown-item:hover {
  background: var(--background-secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--secondary);
  display: inline;
  opacity: 1;
  display: block;
  padding-top: 4px;
  padding-right: 5px;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.graphics {
  /* border: 1px solid green; */
  /* display: flex; */
  width: 60%;
  flex: 1;
}

.view-selector {
  /* border: 1px solid green; */
  align-self: center;
  /* display: block; */
  /* flex-direction: row; */
  /* align-content: center; */
  width: 30%;
  margin-left: 35%;
  margin-top: 10px;
  padding: 3px;
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  max-height: 50%;
}

.lineItemContainer {
  margin-top: 10px;
  height: 400px;
  overflow: scroll;
}

.lineItemContainer::-webkit-scrollbar {
  display: none;
}

table {
  /* border: 1px solid black; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  align-content: center;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--background-secondary)

  /* display: flex; */
}

.toprow {
  border: 1px solid black;
}

 td {
  /* border-right: 1px solid rgb(238, 238, 238); */
  border-top: 1px solid rgb(238, 238, 238);
  padding: 5px;
}

.whywhywhy {
  margin-top: 200px;
}